html {
    font-size: 14px;
}

    html * {
        font-family: cursive;
        color: #423726;
    }

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #fff2de;
}

footer {
    background-color: #f3d2a1;
    font-family: cursive;
    color: #423726;
}

.navbar {
    background-color: #f3d2a1;
    border-radius: 30px;
}

    .navbar .navbar-brand,
    .navbar .nav-link,
    .nav-navbar .nav-link {
        font-family: cursive;
        color: #423726;
    }

.navbar-brand:hover, .nav-link:hover {
    font-size: 120%;
}

.carousel-width{
    align-items:center;
    width:300px;
}

.writer-card-item {
    display: block;
    width: 100%;
    position: relative;
    background: #f3d2a1;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 20px;
    transition: 0.3s;
    text-decoration: none;
    transform: scale(0.9);
}

    .writer-card-item figure {
        height: 240px;
        overflow: hidden;
        position: relative;
    }

    .writer-card-item img {
        transition: 0.3s;
    }

    .writer-card-item .writer-text {
        padding: 0px 10px 10px 20px;
        text-align: center;
    }

        .writer-card-item .writer-text h2, .writer-card-item .writer-text span {
            text-decoration: none !important;
        }

        .writer-card-item .writer-text h2 {
            font-size: 20px;
            font-weight: 400;
            margin: 0 0 10px 0;
            color: #423726;
        }

        .writer-card-item .writer-text span {
            color: #423726;
            font-size: 16px;
            font-weight: 400;
        }

        .writer-card-item .writer-text p {
            color: #423726;
            transition: 0.5s;
        }

    .writer-card-item:hover, .writer-card-item:focus {
        bottom: 7px;
        text-decoration: none;
        box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
    }

        .writer-card-item:hover img, .writer-card-item:focus img {
            transform: scale(1.2);
        }
/**/
.custombook {
    text-decoration: none;
    color: #423726;
    transition: transform 0.3s ease-in-out;
}

    .custombook:hover {
        transform: scale(18);
        color: #f3d2a1;
    }

.sidebar-box {
    background-color: #f3d2a1;
    border-radius: 20px;
    font-family: cursive;
    color: #423726;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.book-block:hover {
    color: white;
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/

.btn-Brown {
    border-radius: 20px;
    background-color: #f3d2a1;
    border-color: #875c1a;
    color: #423726;
}

    .btn-Brown:hover {
        background-color: #875c1a;
        border-color: #875c1a;
        color: white;
        border-radius: 20px;
    }

/*////////////////////////////////////
*/
.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

    .heading h1 {
        font-size: 50px;
        color: #423726;
        margin-bottom: 25px;
        position: relative;
    }

        .heading h1 ::after {
            content: "";
            position: absolute;
            width: 100px;
            height: 4px;
            display: block;
            margin: 0 auto;
            background-color: #4caf50;
        }

    .heading p {
        font-size: 18px;
        color: #666;
        margin-bottom: 35px;
    }

.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    margin-right: 30px;
    overflow: hidden;
}

    .about-image img {
        max-width: 70%;
        height: 40%;
        display: block;
        transition: 0.5s ease;
    }

    .about-image:hover img {
        transform: scale(1.2);
    }

.about-content {
    flex: 1;
}

    .about-content h2 {
        font-size: 23px;
        margin-bottom: 15px;
        color: #333;
    }

    .about-content p {
        font-size: 18px;
        line-height: 1.5;
        color: #666;
    }

    .about-content .read-more {
        display: inline block;
        padding: 10px 20px;
        text-decoration: none;
        margin-top: 20px;
        transition: 0.3 ease;
        background-color: #f3d2a1;
        border-color: #875c1a;
        color: #423726;
        border-radius: 20px;
    }

        .about-content .read-more :hover {
            background-color: #3e8e41;
        }

@media screen and(max-width:768px) {
    .heading {
        padding: 0px 20px;
    }

        .heading h1 {
            font-size: 36px;
        }

        .heading p {
            font-size: 17px;
            margin-bottom: 0px;
        }

    .container {
        padding: 0px;
    }

    .about {
        padding: 20px;
        flex-direction: column;
    }

    .about-image:hover {
        margin: 0px;
        margin-bottom: 20px;
    }

    .about-content p {
        padding: 0px;
        font-size: 16px;
    }

    .about-content .read-more {
        background-color: #f3d2a1;
        border-color: #875c1a;
        color: #423726;
        border-radius: 20px;
    }
}

.btn-Brown:hover {
    border-radius: 20px;
    background-color: #875c1a;
    border-color: #875c1a;
    color: white;
}

.form-control {
    border-radius: 20px;
    border-color: brown;
}

.form_gif {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: 0;
    display: block; /* Ensures the image is treated as a block element */
}
