@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Writers Hall of Fame</h2>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-6">
			<a href="https://en.wikipedia.org/wiki/William_Shakespeare" class="fh5co-card-item image-popup">
				<figure>
					<div class="overlay"><i class="ti-plus"></i></div>
					<img src="~/uploads/Writers/WilliamShakespeer.jpg" alt="Image" class="img-responsive" width="420" height="300">
				</figure>
				<div class="fh5co-text">
					<h2>Williams Shakespeer</h2>
					<p>William Shakespeare was an English playwright, poet and actor. He is widely regarded as the greatest writer in the English language and the world's pre-eminent dramatist.</p>

				</div>
			</a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6">
			<a href="https://en.wikipedia.org/wiki/George_Orwell" class="fh5co-card-item image-popup">
				<figure>
					<div class="overlay"><i class="ti-plus"></i></div>
					<img src="~/uploads/Writers/GeorgeOrwell.jpg" alt="Image" class="img-responsive" width="420" height="300">
				</figure>
				<div class="fh5co-text">
					<h2>George Orwell</h2>
					<p>English novelist, essayist, journalist, and critic. His work is characterised by lucid prose, social criticism, opposition to totalitarianism, and support of democratic socialism.</p>

				</div>
			</a>
		</div>

		<div class="col-lg-4 col-md-4 col-sm-6">
			<a href="https://en.wikipedia.org/wiki/Homer" class="fh5co-card-item image-popup">
				<figure>
					<div class="overlay"><i class="ti-plus"></i></div>
					<img src="~/uploads/Writers/Homer.jpeg" alt="Image" class="img-responsive" width="420" height="300">
				</figure>
				<div class="fh5co-text">
					<h2>Homer</h2>
					<p>Homer was a Greek poet who is credited as the author of the Iliad and the Odyssey Homer is considered one of the most revered and influential authors in history.</p>

				</div>
			</a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6">
			<a href="https://en.wikipedia.org/wiki/Charles_Dickens" class="fh5co-card-item image-popup">
				<figure>
					<div class="overlay"><i class="ti-plus"></i></div>
					<img src="~/uploads/Writers/CharlesDickens.jpeg" alt="Image" class="img-responsive" width="420" height="300">
				</figure>
				<div class="fh5co-text">
					<h2>Charles Dickens</h2>
					<p>Charles Dickens was born in 1812 and died in 1870. He wrote classic novels of the Victorian era like Great Expectations, David Copperfield, Oliver Twist and A Christmas Carol.</p>

				</div>
			</a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6">
			<a href="https://en.wikipedia.org/wiki/Fyodor_Dostoevsky" class="fh5co-card-item image-popup">
				<figure>
					<div class="overlay"><i class="ti-plus"></i></div>
					<img src="~/uploads/Writers/FyodorDostoyevsky.jpeg" alt="Image" class="img-responsive" width="420" height="300">
				</figure>
				<div class="fh5co-text">
					<h2>Fyodor Dostoyevsky</h2>
					<p>Dostoyevsky, was a Russian novelist, short story writer, essayist and journalist. Numerous literary critics regard him as one of the greatest novelists in all of world literature.</p>

				</div>
			</a>
		</div>



		<div class="col-lg-4 col-md-4 col-sm-6">
			<a href="https://en.wikipedia.org/wiki/Leo_Tolstoy" class="fh5co-card-item image-popup">
				<figure>
					<div class="overlay"><i class="ti-plus"></i></div>
					<img src="~/uploads/Writers/LeoTolstoy.jpeg" alt="Image" class="img-responsive" width="420" height="300">
				</figure>
				<div class="fh5co-text">
					<h2>Leo Tolstoy</h2>
					<p>Russian writer regarded as one of the greatest authors of all time. He received nominations for the Nobel Prize in Literature every year from 1902 to 1906</p>
				</div>
			</a>
		</div>

	</div>
</div>
