@{
    ViewData["Title"] = "Privacy Policy";
}

    <div class="heading ">
        
        <h1>Discover the World of Books at Our Catalog</h1>
    </div>
    <div class="container">
        <section class="about">
            <div class="about-image">
                <img src="https://images.unsplash.com/photo-1611832822637-0d6246524c50?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Y29mZmVlJTIwYm9va3xlbnwwfHwwfHx8MA%3D%3D">
            </div>
            <div class="about-content">
                <h2>Warm embrace in a book</h2>
                <p>Our Books Catalog is a passionate hub for literature enthusiasts seeking a wide range of high-quality books. With a diverse collection of genres, we provide a user-friendly website where you can explore detailed descriptions, reviews, and recommendations. We offer both physical and e-book options, aiming to cater to all reading preferences. Through author events, book clubs, and engaging blog content, we foster a vibrant community of book lovers. Our dedicated support team ensures exceptional customer service, making your shopping experience seamless and enjoyable. Explore our catalog, enrich your reading journey, and embark on new adventures in knowledge and imagination. Happy reading!</p>
                <a href="" class="read-more"> Read More</a>
            </div>

        </section>
</html>
